[submodule "ChernoHazel/vendor/spdlog"]
	path = ChernoHazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ChernoHazel/vendor/GLFW"]
	path = ChernoHazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "ChernoHazel/vendor/imgui"]
	path = ChernoHazel/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "ChernoHazel/vendor/glm"]
	path = ChernoHazel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ChernoHazel/vendor/yaml-cpp"]
	path = ChernoHazel/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "ChernoHazel/vendor/ImGuizmo"]
	path = ChernoHazel/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "ChernoHazel/vendor/Box2D"]
	path = ChernoHazel/vendor/Box2D
	url = https://github.com/TheCherno/box2d
[submodule "ChernoHazel/vendor/msdf-atlas-gen"]
	path = ChernoHazel/vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen
