[submodule "ChernoHazel/vendor/spdlog"]
	path = ChernoHazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ChernoHazel/vendor/GLFW"]
	path = ChernoHazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "ChernoHazel/vendor/imgui"]
	path = ChernoHazel/vendor/imgui
	url = https://github.com/TheCherno/imgui
